<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>jQTouch &beta;</title>
  <link rel='stylesheet' href="/stylesheets/jqtouch.css">
  <script src="/javascripts/lib/zepto.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/lib/jqtouch.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jqtouch-init.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/mpd.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div id="jqt">
  <div id="test">

    <div class="toolbar">

      <h1>Sinatra MPD</h1>

    </div>

    <div style="margin-top: 10px;" class="mpd-actions">
      <a href="#" class='grayButton' rel='play'>Play</a>
      <a href="#" class='grayButton' rel='pause'>Pause</a>
      <a href="#" class='grayButton' rel='stop'>Stop</a>
      <a href="#" class='grayButton' rel='next'>Next</a>
      <a href="#" class='grayButton' rel='previous'>Previous</a>
    </div>



    <!--<ul class="rounded">-->
      <!--<li><a class="greyButton" href="#page2">Test Reveal</a></li>-->
    <!--</ul>-->
  </div>
  <!--<div id="page2">-->
    <!--<div style="font-size: 1.5em; text-align: center; margin: 160px 0 160px; font-family: Marker felt;">-->
      <!--Pretty smooth, eh?-->
    <!--</div>-->
    <!--<a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="whiteButton goback">Go back</a>-->
  <!--</div>-->
</div>
</body>
</html>